<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
<div class="topnav">
    <form action="/"><a><button class="redirect" id="Home">Eco Future</button></a></form>
    <form action="/about"><a><button class="redirect" >About</button></a></form>
    <form action="/Contact"><a><button class="redirect" >Contact</button></a></form>
    <form action="/leaderboard"><a><button class="redirect" >Leaderboard</button></a></form>
    <form action="/Sign-in" class="account"><a><button class="redirect" >Login</button></a></form>
    <form action="/run" class="account"><a><button class="redirect" >Sign Up</button></a></form>
</div>
<title>Home</title>
<div class="text">
  <h1>Eco Future</h1>
</div>
<body>
    <video width="320" height="240" muted loop autoplay>
        <source src={{ url_for('static', filename="bg.mp4") }} type="video/mp4">
        Your browser does not support the video tag.
      </video>
    <div class="overlay"></div>
</body>

