<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
<title>About</title>
<div class="topnav">
  <form action="/"><a><button class="redirect" id="Home">Eco Future</button></a></form>
    <form action="/about"><a><button class="redirect">About</button></a></form>
    <form action="/Contact"><a><button class="redirect" >Contact</button></a></form>
    <form action="/leaderboard"><a><button class="redirect" >Leaderboard</button></a></form>
    <form action="/Sign-in" class="account"><a><button class="redirect" >Login</button></a></form>
    <form action="/run" class="account"><a><button class="redirect" >Sign Up</button></a></form>
</div>
<div class="about">
  <h1>About</h1>
  <p>The website aims to effectively and efficiently solve our current problems regarding climate change and the health of our planet. Because after more people know about this site and are aware that it is helpful they will be working towards helping stop this crisis. And we will have a unified fight to save our planet. This will help land and water animals have better lives because of the reduced amounts of litter. Our own lives because you will not only see the change but feel it too! Imagine a world where you go outside and you aren't greeted by empty soda cans and odd smells of leftover trash getting left in corners.</p>
</div>
