<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
<title>Contact</title>
<div class="topnav">
  <form action="/"><a><button class="redirect" id="Home">Eco Future</button></a></form>
  <form action="/about"><a><button class="redirect" >About</button></a></form>
  <form action="/Contact"><a><button class="redirect" >Contact</button></a></form>
  <form action="/leaderboard"><a><button class="redirect" >Leaderboard</button></a></form>
  <form action="/Sign-in" class="account"><a><button class="redirect" >Login</button></a></form>
  <form action="/run" class="account"><a><button class="redirect" >Sign Up</button></a></form>
</div>
<body>
  <div class="row">
    <div class="column">
        <div class="card">
          <img src={{ url_for('static', filename="baljeet.jpg")}} id="baljeet">
          <h1 class="name_left">Ishan</h1>
          <p class="email">ishan.ib.bansal@gmail.com</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <img src={{ url_for('static', filename="stacy.jpg")}} id="stacy">
          <h1 id="chantal">Chantal</h1>
          <p class="email">chantalrain.pino@gmail.com</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <img src={{ url_for('static', filename="isabella.jpg")}} id="isabella">
          <h1 id="michelle">Michelle</h1>
          <p class="email">itsmichelle.j.y@gmail.com</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <img src={{ url_for('static', filename="perry.jpg")}} id="perry">
          <h1 id="noor">Noor</h1>
          <p class="email">noor.mir@student.tdsb.on.ca</p>
        </div>
        </div>
    </div>
  </div>
</body>

